* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8476e3;
    --secondary-color: #212832;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

/* Common */
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 149px;
    height: var(--height);
    border-radius: 6px;
    background: var(--secondary-color);
    line-height: var(--height);
    color: #fff;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.section-title {
    display: inline-block;
    position: relative;
    color: #696d77;
    font-family: "Open Sans";
    line-height: 1.75;
    padding-left: 30px;
}

.section-title::before {
    position: absolute;
    top: 14px;
    left: 0;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}

.section-heading {
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.section-list {
    margin-top: 28px;
}

.section-item {
    position: relative;
    margin-top: 18px;
    padding-left: 24px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.section-item::before {
    position: absolute;
    top: 9px;
    left: 0;
    content: "";
    background-color: #7264d6;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/* Header */
.header {
    padding: 42px 0 26px;
    background-color: #fff;
}

.fixed {
    position: sticky;
    top: -26px;
    z-index: 99;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.navbar__list {
    display: flex;
    align-items: center;
    margin-left: 52.32px;
}

.navbar__link {
    padding: 8px 23.5px;
    color: #696d76;
    line-height: 1.75;
}

.navbar__link:hover {
    color: var(--secondary-color);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link.navbar__link--active {
    position: relative;
    color: var(--secondary-color);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link.navbar__link--active::after {
    position: absolute;
    left: 23.5px;
    bottom: 5px;
    content: "";
    width: calc(100% - 47px);
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
}

.header-action {
    margin-left: auto;
}

.header-action__link {
    color: var(--secondary-color);
    font-weight: 600;
    line-height: 1.75;
    margin-right: 28px;
}

.header-action__link:hover {
    text-decoration: underline;
}

.header-action__btn {
    --height: 52px;

    min-width: 113px;
}

/* Hero */
.hero {
    padding: 50px 0;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__info {
    width: 46, 2%;
}

.hero__media {
    position: relative;
    flex: 1;
    margin-left: 60px;
}

.hero__info-title {
    position: relative;
    color: #696d77;
    line-height: 1.75;
    padding-left: 30px;
}

.hero__info-title::before {
    position: absolute;
    left: 0;
    top: 14px;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
    flex-shrink: 0;
}

.hero__info-heading {
    margin-top: 12px;
    width: 500px;
    color: var(--secondary-color);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero__info-heading-highlight {
    color: #7264d6;
}

.hero__info-desc {
    margin-top: 20px;
    width: 540px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
    padding-right: 8px;
}

.hero__form-input {
    width: 100%;
    height: 100%;
    padding: 23px;
    border-radius: 8px;
    color: #696d76;
    border: none;
    outline: none;
}

.hero__form-input::placeholder {
    color: #696d76;
    font-weight: 400;
    line-height: 1.75;
}

.hero__form-submit {
    --height: 58px;

    min-width: 149px;
    height: var(--height);
    border-radius: 8px;
    background: #7264d6;
    line-height: var(--height);
    color: #fff;
    font-weight: 600;
    line-height: 1.75;
    border: none;
}

.hero__form-submit:hover {
    opacity: 0.9;
    cursor: pointer;
}

.hero__form-note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero-phone {
    position: relative;
    margin-left: 100px;
    width: 296px;
    padding: 40px 11px 30px;
    border-radius: 40px;
    border: 12px solid #212832;
    background: #fff;
}

.hero-phone::before {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 144px;
    height: 36px;
    border-radius: 0px 0px 18px 18px;
    background: #3c2f60;
}

.hero-card {
    position: relative;
    overflow: hidden;
    padding: 16px;
    width: 250px;
    border-radius: 20px;
    background-color: var(--primary-color);
}

.hero-card__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.hero-card__main-balance {
    color: #fff;
    font-size: 1.4rem;
    line-height: normal;
}

.hero-card__balance {
    margin-top: 2px;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.hero-card__bottom {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 57px 107px;
    margin-top: 32px;
    gap: 5px 12px;
}

.hero-holder-valid-thur {
    color: #fff;
    font-size: 1rem;
    line-height: normal;
}

.hero-card__date {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
}

.hero-card__name {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
}

.hero-card__decor-top {
    position: absolute;
    top: 0;
    left: 1px;
}

.hero-card__decor-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero-phone__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.hero-phone__title {
    color: #31456a;
    font-weight: 600;
    line-height: normal;
}

.hero-item {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.hero-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
}

.hero-info-wrap {
    margin-left: 14px;
}

.hero-info__title {
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-info__info {
    margin-top: 6px;
    color: #696d76;
    font-size: 1rem;
    line-height: 1;
}

.hero-money-date {
    margin-left: auto;
}

.hero-money-date__money {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-money-date__date {
    margin-top: 6px;
    color: #696d76;
    font-size: 1rem;
    line-height: 1;
    text-align: right;
}

.hero-deposit {
    position: absolute;
    top: 113px;
    left: 0;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    width: 174px;
    border-radius: 6px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
}

.hero-deposit__title {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 8px;
}

.hero-deposit__money {
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1;
    margin-left: auto;
}

.hero-interest {
    position: absolute;
    top: 127px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #da6464;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.hero-interest__deg {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-interest__label {
    color: #fff;
}

.hero-secured-funds {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 61px;
    right: 100px;
    width: 124px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439f90;
}

.hero-secured-funds__info-wrap {
    margin-left: 11px;
}

.hero-secured-funds__info-money {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-secured-funds__info-text {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
    margin-top: 5px;
}

/* Work */

.work {
    margin-top: 60px;
    padding: 50px 0;
}

.work__inner {
    display: flex;
    align-items: center;
}

.work-media {
    position: relative;
    width: 48.7%;
}

.work-content {
    margin-left: 130px;
    flex: 1;
}

.work-media__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 456px;
    height: 619px;
    object-fit: cover;
    margin: 0 auto;
}

.work-media__img-wrap {
    position: relative;
    width: 470px;
    height: 619px;
}

.work-media__img-wrap::before {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    background-image: url(../img/work-bg.svg);
    width: 100%;
    height: 550px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.work-media__card {
    position: absolute;
    top: 76px;
    right: 162px;
}

.work-congratulations {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 96px;
    display: flex;
    align-items: center;
    width: 226px;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work-congratulations__wrap {
    margin-left: 10px;
}

.work-congratulations__title {
    color: #212832;
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.work-congratulations__text {
    margin-top: 5px;
    color: #696d76;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.work-content__heading {
    width: 294px;
    margin-top: 12px;
}

.work__list {
    padding-top: 40px;
}

.work-item {
    margin-top: 30px;
}

.work-item__title {
    width: 470px;
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.46;
}

.work-item__desc {
    margin-top: 16px;
    width: 470px;
    color: #696d76;
    line-height: 1.75;
}

/* Product */
.product {
    margin-top: 60px;
    padding: 50px 0;
}

.product__inner {
    display: flex;
}

.product-content {
    width: 40.2%;
}

.product-right {
    position: relative;
    flex: 1;
    margin-left: 130px;
    padding-top: 86px;
}

.product-content__heading {
    margin-top: 12px;
    width: 470px;
}

.product-content__desc {
    margin-top: 20px;
    width: 470px;
}

.product-content__btn {
    margin-top: 38px;
}

.product-card {
    position: relative;
    overflow: hidden;
    padding: 38px;
    width: 482px;
    border-radius: 20px;
    background-color: var(--primary-color);
}

.product-card__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-card__row-left {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.product-card__main-balance {
    display: inline-block;
    color: #fff;
    font-size: 2.4rem;
    line-height: normal;
}

.product-card__balance {
    margin-top: 10px;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: normal;
}

.product-card__bottom {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 114px 196px;
    margin-top: 98px;
    gap: 4px 26px;
}

.product-holder-valid-thur {
    color: #fff;
    font-size: 2rem;
    line-height: normal;
}

.product-card__name {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: normal;
}

.product-card__date {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: normal;
}

.product-card-decor-top {
    position: absolute;
    left: 0;
    top: 0;
}

.product-card-decor-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}

.product-send-money {
    position: absolute;
    top: 38px;
    right: 0;
    display: flex;
    align-items: center;
    padding: 23px 13px;
    width: 276px;
    border-radius: 12px;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
}

.product-send-money__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.product-info {
    margin-left: 14px;
}

.product-info__title {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}

.product-info__info {
    margin-top: 4px;
    color: #696d76;
    font-family: Inter;
    font-size: 1rem;
    line-height: normal;
}

.product-money-date {
    margin-left: auto;
}

.product-money-date__money {
    color: var(--secondary-color);
    font-family: Inter;
    line-height: normal;
}

.product-money-date__date {
    margin-top: 3px;
    color: #696d76;
    font-family: Inter;
    font-size: 1rem;
    line-height: normal;
    text-align: right;
}

.product-income {
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 120px;
    padding: 15px;
    border-radius: 16px;
    background: #439f90;
}

.product-income__label {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    line-height: normal;
}

.product-income__money {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

/* Feature */
.feature {
    margin-top: 60px;
    padding: 50px 0;
}

.feature__inner {
    display: flex;
    align-items: center;
}

.feature-media {
    position: relative;
    width: 48.7%;
}

.feature-content {
    flex: 1;
    margin-left: 130px;
}

.feature-media__img-wrap {
    position: relative;
    width: 470px;
    height: 600px;
}

.feature-media__img-wrap::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    height: 72%;
    background-image: url(../img/feature-img-bg.svg);
    background-repeat: no-repeat;
}

.feature-media-img {
    display: block;
    position: relative;
    z-index: 1;
    width: 413px;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.feature-media__circle-money {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 222px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: #7264d6;
}

.feature-media__payment {
    position: absolute;
    z-index: 2;
    right: 26px;
    bottom: 57px;
    padding: 28px;
    width: 281px;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    background-color: #fff;
}

.feature-media__payment--title {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.feature-media__payment--logo-bank-wrap {
    display: grid;
    grid-template-columns: repeat(3, 63px);
    gap: 18px;
    margin-top: 20px;
}

.feature-media__payment--logo-bank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 48px;
}

.feature-media__payment--logo-bank:last-child {
    border-radius: 4px;
    background-color: #f9ea63;
}

.feature-content__heading {
    margin: 12px 0 20px;
}

.feature-content__btn {
    margin-top: 38px;
}

/* Client */
.client {
    margin-top: 60px;
    padding: 50px 0;
}

.client-top {
    text-align: center;
}

.client-top__heading {
    margin: 12px 0 18px;
}

.client-top__desc {
    width: 435px;
    color: #696d76;
    line-height: 1.75;
    margin: 0 auto;
}

.client__bottom {
    margin-top: 70px;
}

.client__list {
    display: grid;
    grid-template-columns: repeat(6, 570px);
    column-gap: 30px;
    overflow: hidden;
}

.client-item__quote {
    position: relative;
    width: 570px;
    padding: 42px 28px;
    border: 1px solid #dfe2e8;
    border-radius: 8px;
    background-color: #fff;
    color: #696d76;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.55;
    text-align: center;
    transition: border-color 0.5s, filter 0.5s;
}

.client-item__quote:hover {
    filter: drop-shadow(0px 11px 22px rgba(0, 0, 0, 0.07));
    border-color: transparent;
}

.client-item__quote::before,
.client-item__quote::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -59px;
    content: "";
    border-style: solid;
    border-width: 61px 51px 0 51px;
    border-color: #fff transparent transparent transparent;
    transition: border-color 0.5s;
}
/* Cho before để nó nằm dưới after và làm viền cho hình tam giác */
.client-item__quote::before {
    bottom: -61px;
    border-color: #dfe2e8 transparent transparent transparent;
    transition: bottom 0.5s;
}

.client-item__quote:hover::before {
    bottom: -60px;
    border-color: transparent;
}

.client-item__img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 87px;
}

.client-item__img {
    display: block;
    width: 104px;
    height: 104px;
    object-fit: cover;
    border-radius: 50%;
    background: #4ab5e3;
}

.client-item:nth-child(even) .client-item__img {
    background-color: #439f90;
}

.client-item__name {
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.39;
    margin-top: 20px;
}

.client-item__job {
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-top: 2px;
}

.client-dots {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin-top: 38px;
}

.client-dots__dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
}

.client-dots__dot--active {
    background-color: #7264d6;
}

.client-dots__dot:hover {
    background-color: #7264d6;
    cursor: pointer;
}
